<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/JQueryUI/Bundle")
    @Styles.Render("~/Content/Bootstrap/Bundle")
    @Styles.Render("~/Content/FontAwesome/Bundle")
    @Styles.Render("~/Content/MvcGrid/Bundle")
    @Styles.Render("~/Content/Shared/Bundle")
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-block">
                <ul>
                    <li>
                        @Html.ActionLink("Quick start", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Installation", "Installation", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Filtering", "Filtering", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Sorting", "Sorting", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Styling", "Styling", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Ajax", "Ajax", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Empty text", "EmptyText", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Multiple", "Multiple", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Processing", "RowProcessing", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Row styling", "RowStyling", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Localization", "Localization", "Grid")
                    </li>
                    <li>
                        @Html.ActionLink("Paging", "Paging", "Grid")
                    </li>

                    <li>
                        @Html.ActionLink("Value rendering", "RenderingValue", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("Formatting", "Formatting", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("Encoding", "Encoding", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("Header title", "Title", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("Filtering", "Filtering", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("Filter types", "FilterTyping", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("First sort dir", "FirstSort", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("Sorting", "Sorting", "Column")
                    </li>
                    <li>
                        @Html.ActionLink("Styling", "Styling", "Column")
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Scripts/JQuery/Bundle")
    @Scripts.Render("~/Scripts/Bootstrap/Bundle")
    @Scripts.Render("~/Scripts/JQueryUI/Bundle")
    @Scripts.Render("~/Scripts/MvcGrid/Bundle")
    @Scripts.Render("~/Scripts/Shared/Bundle")
    @RenderSection("scripts", false)
</body>
</html>
